:root {
    --softGray: #eef0fe;
    --darkGray: #767877;
    --pink: #e30f43;
    --pinkOrange: #e52638;
    --darkOrange: #e73a2f;
    --orange: #e84c26;
    --softOrange: #e95d1f;
    --naturaGradient: linear-gradient(to right, #eb661b, #e30f43);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 200vh;
}

header {
    background: #fff;
    color: #fff;
    position: relative;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 64px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.logo {
    max-height: 30px; /* Diminuído em 20px */
}

.menu-toggle {
    position: absolute;
    right: 210px; /* Ajuste conforme necessário */
    cursor: pointer;
    z-index: 1000; /* Garante que o menu toggle esteja acima da sidebar */
}

.menu-toggle .bar {
    display: block;
    width: 30px; /* Ajuste conforme necessário */
    height: 3px; /* Ajuste conforme necessário */
    background: #000; /* Cor das barras */
    margin: 6px 0; /* Espaçamento entre as barras */
    transition: 0.3s;
}

/* Estilo da sidebar */
.nav {
    padding-top: 20px;
    position: fixed;
    top: 0;
    right: -250px; /* Sidebar escondida à direita */
    width: 250px; /* Largura da sidebar */
    height: 100%;
    background: #fff; /* Cor de fundo da sidebar */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra para destacar a sidebar */
    transition: right 0.3s;
    z-index: 999; /* Garante que a sidebar esteja acima do conteúdo */
}

.nav ul {
    list-style: none;
    padding: 20px;
}

.nav ul li {
    margin: 50px 0;
    border-bottom: 1px solid gray;
    display: block;
    width: 100px;
}

.nav ul li a {
    text-decoration: none;
    color: #000; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
}

/* Estilo do menu hambúrguer aberto */
.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 8.5px);
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Sidebar visível */
.nav.open {
    right: 0;
}