:root {
    --softGray: #eef0fe;
    --darkGray: #767877;
    --pink: #e30f43;
    --pinkOrange: #e52638;
    --darkOrange: #e73a2f;
    --orange: #e84c26;
    --softOrange: #e95d1f;
    --naturaGradient: linear-gradient(to right, #eb661b, #e30f43);
}

body {
    margin: 0;
    font-family: poppins;
    height: 200vh; /* Apenas para fins de rolagem */
}

header {
    background: rgba(255, 255, 255, 0.1); /* Translucidez do fundo */
    color: #fff;
    position: relative; /* Alterado de sticky para relative */
    width: 100%;
    height: 64px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -6px 10px 5px black; /* Sombras aplicadas */
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.logo {
    max-height: 30px; /* Diminuído em 20px */
}

.menu-toggle {
    position: absolute;
    right: 210px; /* Ajuste conforme necessário */
    cursor: pointer;
    z-index: 1000; /* Garante que o menu toggle esteja acima da sidebar */
}

.menu-toggle .bar {
    display: block;
    width: 30px; /* Ajuste conforme necessário */
    height: 3px; /* Ajuste conforme necessário */
    background: #000; /* Cor das barras */
    margin: 6px 0; /* Espaçamento entre as barras */
    transition: 0.3s;
}

/* Estilo da sidebar */
.nav {
    padding-top: 20px;
    position: fixed;
    top: 0;
    right: -250px; /* Sidebar escondida à direita */
    width: 250px; /* Largura da sidebar */
    height: 100%;
    background: #fff; /* Cor de fundo da sidebar */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra para destacar a sidebar */
    transition: right 0.3s;
    z-index: 999; /* Garante que a sidebar esteja acima do conteúdo */
}

.nav ul {
    list-style: none;
    padding: 20px;
}

.nav ul li {
    margin: 50px 0;
    border-bottom: 1px solid gray;
    display: block;
    width: 100px;
}

.nav ul li a {
    text-decoration: none;
    color: #000; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
}

/* Estilo do menu hambúrguer aberto */
.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 8.5px);
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Sidebar visível */
.nav.open {
    right: 0;
}

/* -------------- MAIN --------------- */

.welcome {
background: linear-gradient(180deg,#f0d9ff,#faf2ff);
}

.main-ctn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1009px;
    padding: 20.68px 15px 40.68px;
    margin: 0 auto;
    height: 330px;
}

.main-img img {
    object-fit: cover;
    background: transparent !important;
    transform: rotate(10deg);
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 335px
}

.main-img {
    align-items: center;
    padding-top: 10px;
}

.welcome-ctn {
    display: flex;
    flex-direction: column;
    max-width: 497px;
    row-gap: 10px;
    margin-top: 45px;
    margin-top: 25px;
}

.pr-list {
    margin: 0;
    padding-left: 20px;
}

.pr-list li {
    padding-left: 15px;
    font-size: 14px;
}

.header-ctn-title{
    font-size: 40px;
    line-height: 60px;
    color: #3C3C3C;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 0;
}

.header-ctn-subtitle {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
}

span {
    font-weight: 700;
}

.btn {
    margin-top: 15px;
    background-image: linear-gradient(90deg, #ff005c, #0af);
    outline: none;
    padding: 10px;
    display: inline-block;
    border: none;
    border-radius: 32px;
    font-family: poppins;
    width: 60%;
    cursor: pointer;
    color: #fff;
    
}

.benefits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.benefits .card {
    width: 300px;
    height: 350px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.benefits .card img {
    width: 300px;
    height: 200px;
    object-fit: cover; /* Para cortar a imagem e mantê-la centralizada */
}
.benefits-title {
    text-align: center;
}

.tst img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

/* .plans {
    margin-top: 70px;
    display: flex;
    background: linear-gradient(180deg,#f0d9ff,#faf2ff);
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}

.levels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffebf3;
    border-radius: 8px;
}

.levels p {
    text-align: center;
}

.bloco {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.bloco p {
    font-size: 10px;
} */

strong {
    color: #3C3C3C;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Faz o botão ser redondo */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none; /* Esconde o botão inicialmente */
    z-index: 1000;
    font-size: 20px; /* Tamanho do ícone */
}

.back-to-top:hover {
    background-color: #555;
}

.fa-chevron-up {
    margin: 0; /* Remove a margem do ícone */
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 1209px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.bg {
    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
}

.card-slide {
    background: linear-gradient(180deg, #f0d9ff, #faf2ff);
    padding: 10px;
    border-radius: 8px;
    flex: 0 0 auto;
}

.card-slide img {
    width: 200px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.prev-btn, .next-btn {
    background: transparent;
    color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
}

.prev-btn {
    margin-right: 10px;
}

.next-btn {
    margin-left: 10px;
}

.indicators {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.indicator-dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator-dot.active {
    background-color: #000;
}

.prev-btn:disabled, .next-btn:disabled {
    opacity: 0.1;
    cursor: not-allowed;
}
html {
    scroll-behavior: smooth;
}

.be-part {
    background-color: #faf2ff;
    padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.grid-left img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.grid-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.pr {
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
    padding-bottom: 10px;
    position: relative;
}

.accordion-content {
    display: none;
    padding-left: 36px;
    padding-bottom: 10px;
    width: 300px;
    font-size: 12px;
    opacity: 0.7;
}

.arrow {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    transition: transform 1s ease;
}

.pr.active .arrow i {
    transform: rotate(180deg);
}

.pr-p i {
    padding-right: 18px; /* Ajuste o valor conforme necessário */
}






























