:root {
    --softGray: #eef0fe;
    --darkGray: #767877;
    --pink: #e30f43;
    --pinkOrange: #e52638;
    --darkOrange: #e73a2f;
    --orange: #e84c26;
    --softOrange: #e95d1f;
    --naturaGradient: linear-gradient(to right, #eb661b, #e30f43);
}

html {
    width: 100%;
}

body {
    margin: 0;
    font-family: poppins;
    height: 200vh;
    overflow-x: hidden;
    max-width: 100%;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(238, 240, 239, 0.973);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--orange);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgba(238, 240, 239, 0.973);  /* creates padding around scroll thumb */
  }

  header {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    position: relative;
    width: 100%;
    height: 64px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -6px 10px 5px black;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

/* Container centralizando o logo */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

/* Logo responsivo */
.logo {
    max-height: 30px;
    cursor: pointer;
}

/* Menu toggle (hambúrguer) */
.menu-toggle {
    position: absolute;
    right: 210px;
    cursor: pointer;
    z-index: 1000;
}

/* Estilo das barras do menu hambúrguer */
.menu-toggle .bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--orange);
    margin: 6px 0;
    transition: 0.3s;
}

/* Estilo da navegação (sidebar) */
.nav {
    padding-top: 20px;
    position: fixed;
    top: 0;
    right: -250px; /* Mantém a sidebar fora da tela inicialmente */
    width: 250px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s;
    z-index: 999;
    overflow-y: auto; /* Permite rolagem vertical interna se necessário */
}

.nav ul {
    list-style: none;
    padding: 20px;
}

.nav ul li {
    margin: 50px 0;
    border-bottom: 1px solid var(--orange);
    display: block;
    width: 100px;
}

li::marker {
    color: var(--orange);
}

.nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.nav ul li a:hover {
    color: #000;
    opacity: 0.5;
}

/* Menu hambúrguer aberto */
.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 8.5px);
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Sidebar visível */
.nav.open {
    right: 0; /* Move a sidebar para dentro da tela */
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        max-width: 100%;
        justify-content: space-between;
        padding: 10px;
        box-sizing: border-box;
    }

    .menu-toggle {
        right: 20px;
        top: 15px;
    }

    .container {
        justify-content: flex-start;
    }

    .logo {
        max-height: 20px;
        margin: 0 auto;
    }

    .nav {
        width: 100px;
    }

    .nav ul li {
        margin: 30px 0;
        width: 100%;
    }

    .nav ul li a {
        font-size: 12px;
    }
}


/* -------------- MAIN --------------- */

.welcome {

/* background-color: rgba(238, 240, 239, 0.2); */
/* background: #f48656; */
background-color: #FAFAFA;

}

.main-ctn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1009px;
    padding: 20.68px 15px 40.68px;
    margin: 0 auto;
    height: 330px;
}


.main-img img {
    /* object-fit: cover; */
    background: transparent !important;
    transform: rotate(10deg);
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 350px;
}

.natura {
    color: var(--orange);
}

.main-img {
    align-items: center;
    padding-top: 10px;
}

.welcome-ctn {
    display: flex;
    flex-direction: column;
    max-width: 497px;
    row-gap: 10px;
    margin-top: 45px;
    margin-top: 25px;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }

.pr-list {
    margin: 0;
    padding-left: 20px;
}

.pr-list li {
    padding-left: 15px;
    font-size: 15px;
    font-weight: 400;
}

.header-ctn-title{
    font-size: 40px;
    line-height: 60px;
    color: #3c3c3c;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 0;
    
}



.header-ctn-subtitle {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
}

span {
    font-weight: 700;
}

.btn {
    margin-top: 15px;
    background: var(--naturaGradient);
    outline: none;
    padding: 10px;
    display: inline-block;
    border: none;
    border-radius: 32px;
    font-family: poppins;
    width: 60%;
    cursor: pointer;
    color: #fff;
    
}

.btn:hover {
    background: #FAFAFA;
    border: 1px solid var(--pinkOrange);
    color: #000;

}

@media (max-width: 768px) {
    .main-ctn {
        align-items: center;
        height: auto;
        padding: 20px 10px;
    }

    .welcome-ctn {
        max-width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .header-ctn-title {
        font-size: 28px;
        line-height: 48px;
    }

    .header-ctn-subtitle {
        font-size: 16px;
    }

    .pr-list li {
        font-size: 14px;
    }

    .main-img {
        padding-top: 20px;
    }

    .main-img img {
        width: 150px;
        height: auto;
        transform: none; /* Remover a rotação para melhor visualização em telas menores */
    }

    .btn {
        width: 80%; /* Ajusta o tamanho do botão para telas menores */
    }

    .header-ctn-subtitle {
        font-size: 13px !important;
        text-align: left;
    }

    .pr-list li {
        font-size: 13px;
        text-align: left;
    }

    .grid-left {
        display: none;
    }
}

.benefits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
    
}

.pu {
    color: var(--orange);
}


.benefits .card {
    width: 250px;
    height: 300px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 1px 5px black;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(238, 240, 239, 0.4);
    cursor: pointer;

}

.benefits .card:hover{
    border: 1px solid var(--orange);
}

.benefits .card img {
    width: 250px;
    height: 150px;
    object-fit: cover; /* Para cortar a imagem e mantê-la centralizada */
    border-radius: 10px;
}

.card p {
    text-align: left;
}
.benefits-title {
    text-align: center;
    color: #3C3C3C;
}

.tst img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

strong {
    color: #3C3C3C;
}



.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--orange);
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Faz o botão ser redondo */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none; /* Esconde o botão inicialmente */
    z-index: 1000;
    font-size: 20px; /* Tamanho do ícone */
}

.back-to-top:hover {
    background-color: #555;
}

.fa-chevron-up {
    margin: 0; /* Remove a margem do ícone */
}

@media (max-width: 768px) {
    .back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: var(--orange);
        color: #fff;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%; /* Faz o botão ser redondo */
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        display: none; /* Esconde o botão inicialmente */
        z-index: 1000;
        font-size: 20px; /* Tamanho do ícone */
    }
    
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 1209px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.bg {
    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
}

/* .card-slide {
    background-color: rgba(238, 240, 239, 0.973);
    padding: 1px;
    border-radius: 8px;
    flex: 0 0 auto;
} */

.jjj {
    display: flex;
    justify-content: flex-start;
}

.jjj img {
    width: 200px;
    height: 200px;
    object-fit: cover;

}






.card-slide img {
    width: 200px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.prev-btn, .next-btn {
    background: transparent;
    color: #3c3c3c;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
}

.prev-btn {
    margin-right: 10px;
}

.next-btn {
    margin-left: 10px;
}

.indicators {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.indicator-dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator-dot.active {
    background-color: var(--orange);
}

.prev-btn:disabled, .next-btn:disabled {
    opacity: 0.1;
    cursor: not-allowed;
}
html {
    scroll-behavior: smooth;
}

.be-part {
    /* background-color: #f48646; */
    padding-top: 10px;
    margin-top: 40px;
    padding-bottom: 20px;
    background-color: #FAFAFA
}

.grid {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.grid-left img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
    border: 1px solid var(--orange);
}

.grid-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.pr {
    border-bottom: 1px solid var(--orange);
    cursor: pointer;
    padding-bottom: 10px;
    position: relative;
}

.accordion-content {
    display: none;
    width: 300px;
    font-size: 15px;
    opacity: 0.7;
    transition: all 5s ease-in;}

.arrow {
    position: absolute;
    top: 20px;
    right: -50px;
    font-size: 14px;
    transition: all 0.3s ease-in;
    color: var(--orange);
}

.pr.active .arrow i {
    transform: rotate(180deg);
    transition: all 0.3s ease-in;
}




#typewriter {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid black; /* Imita o cursor piscando */
    animation: blink-caret 0.75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }

  .form-section {
    background-color: rgba(238, 240, 239, 0.2);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.form-group {
    max-width: 600px;
    margin: 0 auto;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--orange);
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    background: var(--naturaGradient);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #333;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #333;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-top: 1px solid #e0e0e0;
    position: relative;
    bottom: 0;
    height: 80px;
}

.footer .symbol {
    font-weight: bold;
    margin: 0 5px;
}

@media (max-width: 768px) {
    .our-app img{ 
        width: 200px;
        height: 400px;
        
    }

    .grid {
        max-width: 300px;
        font-size: 12px;
        margin: 0 auto;
    }

    .accordion-content {
        font-size: 12px;
        width: 200px;
    }
    .arrow {
        position: absolute;
        top: 20px;
        right: -30px;
        font-size: 12px;
        transition: all 0.3s ease-in;
        color: var(--orange);
    }

    .footer {
        justify-content: center;
        display: block;
        font-size: 15px;
    }

    .card p {
        font-size: 12px;
    }

    .benefits .card {
        width: 180px;
        height: 200px;
        padding: 20px;

    
    }

    .benefits .card img {
        width: 180px;
        height: 100px;
    }

    .benefits-title {
        font-size: 18px;
    }

    .form-group label {
        display: inline-block;
        margin-bottom: 5px;
        color: #333;
        font-size: 13px;
        margin-top: 15px;
    }

    .carousel-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 709px;
        margin: 0 auto;
        overflow: hidden;
    }




    
}





































